h1 {
  text-align: center;
  color: white;
  font-size: 2.9em;
  text-shadow: 3px 3px 1px #888;
}

body {
  font-family: arial;
  color: #333;
  background: url(chuck-bg.jpg);
}

div.example-base {
  width: 700px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.6);
  border-radius: 5px;
  padding: 25px;
}

button {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888;
  font-size: 16px;
}

table {
  border-collapse: separate;
  border-spacing: 1em;
  font-style: none;
}

.header {
  font-size: 1.3em;
}

td {
  font-size: 1.1em;
}